body {
    margin: 0px;
    display: flex;
    justify-content: center;
    background-color: white;
}
/* this is a css body tag */
#main-container {
    background-color: #4D7FA6;
    width: 1024px;
    height: 4900px;
    border: solid 5px white;
    justify-content: center;
}
/* this is the main container tag */
#header {
    display: flex;
}

#nav {
    width: 715px;
    
}
ul {
    display: flex;
    justify-content: space-around;
    font-size: 41.28px;
    position: relative;
    margin-top: 0px;
    margin-right: 50px;
    padding: 5px;
}

li {
    list-style-type: none;
    width: 190px;
    margin-left: 89px;
}

h1 {
    display: flex;
    justify-content: center;
    
    
}

h2 { 
    display: flex;
    justify-content: center;
    float: center;
}

#text-to-equipment-page {
    display: flex;
    justify-content: center;
    top: 400px;
   

}
#equipment-text {
    margin-right: -100px;
    margin-top: 260px;
    margin-left: 478px;
    justify-content: center;
    font-size: 22.36px;
    position: absolute;
}
#first-ever-arrow-image {
    margin-right: -100px;
    margin-top: 300px;
    margin-left: 49px;
}
#equipment-guide {
    top: auto;
}
#picture-of-me {
    display: flex;
    margin: 100px;
    margin-top: -10px;
}
#intro-text {
    margin-left: -10px;
    margin-right: -100px;
    height: 310px;
    width: 569px;
    font-size: 21px;
}


#second-container {
   display: flex;
}
#equipment {
    display: flex;
    justify-content: center;
    font-size: 41.1px;
    color: #F2E9B8;
    width: 100%;
    margin-top: -93px;
    margin-left: 23px;
    

}
#arrow-image {
    display: flex;
    margin-top: -95px;
    margin-left: 520px;
}
#description-text-for-equipment {
    display: flex;
    position: relative;
    font-size: 19px;
    justify-content: center;
    margin-top: 25px;
    width: 542px;
    height: 38px;
    left: 200px;
    margin-left: 52px;
}

#home-text {
    right: 400px;
    top: 857px;
    margin-left: 700px;
    margin-top: -150px;
    font-size: 25.24px;
    color: #CCCCCC;
    width: 220px;
    height: 39px;
    display: flex;
    justify-content: center;
    transition-property: transform;
    transition-duration: 0.9s;
    transition-delay: 0s;
    transition-timing-function: ease;
    
}

#home-text:hover {
    transform: translate(56px);
}

#pictures-for-equipment {
    margin-top: 100px;
}
#guitar-picture {
    display: flex;
    margin-left: 100px;
}
#description-guitar {
    position: absolute;
    margin-left: 210px;
    font-size: 21.93px;
}
#more-description-guitar {
    display: flex;
    margin-left: 130px;
    margin-top: 40px;
    
}
#amp-image {
    position: relative;
    transform: translate(560px, -597px) ;
    
    
}
#description-amp {
    position: absolute;
    margin-left: 600px;
    margin-top: -590px;
    font-size: 13.07px;
}
#chords-image {
    transform: translate(580px,-600px );
}
#description-chords {
    position: absolute;
    margin-left: 790px;
    margin-top: -600px;
    font-size: 13.07px;
}
#tuner-image {
    transform: translate(130px,-299px );
}
#description-tuner {
    position: absolute;
    margin-left: 630px;
    margin-top: -290px;
    font-size: 15.63px;
}
#guitar-picks-image {
    transform: translate(200px, -300px);
}
#description-guitar-picks {
    position: absolute;
    margin-left: 840px;
    margin-top: -290px;
    font-size: 16.56px;
}
#step-1 {
    position: absolute;
    margin-left: 504px;
    margin-top: -250px;
    font-size: 21.14px;
}
#arrow-image-2 {
    position: absolute;
    transform: translate(518px, -220px);
}
#beginning-of-step-1 {
    display: flex;
    justify-content: center;
    margin-left: 450px;
    color: #F2E9B8;
    width: 173px;
    height: 59px;
    margin-top: -180px;
}
#home-taskbar {
    position: absolute;
    margin-left: 700px;
    margin-top: -80px;
    width: 279px;
    height: 39px;
    color: #CCCCCC;
    font-size: 25.24px;
    text-align: center;
}
#intro-to-step-1 {
    display: flex;
    justify-content: center;
    color: #F2E9B8;
    font-size: 28.92px;
    margin-left: 220px;
    margin-top: -10px;
    width: 609px;
    height: 59px;
    margin-top: -30px;
    
}
#step-1-description-text {
    display: flex;
    font-size: 22px;
    margin-right: 500px;
    margin-left: 30px;
    margin-top: -20px;
    width: 461px;
    height: 656px;
}
#tuning-guitar-pt-1 {
    transform: translate(630px, -704px);
    margin: 0px;
}
#tuning-guitar-pt-2 {
    transform: translate(120px, -450px);
}
#step-2 {
    position: absolute;
    margin-left: 500px;
    margin-top: -420px;
    font-size: 22.39px;
}
#arrow-image-3 {
    position: absolute;
    margin-left: -215px;
    margin-top: -170px;
}
#description-for-tuning-guitar {
    display: flex;
    width: 185px;
    height: 153px;
    transform: translate(860px, -380px)
}
#beginning-of-step-2 {
    display: flex;
    justify-content: center;
    color: #F2E9B8;
    margin-left: 450px;
    margin-top: -300px;
    font-size: 41.1px;
    width: 173px;
    height: 59px;
}
#description-for-tuning-guitar {
    position: relative;
    margin-top: -170px;
}
#home-taskbar-2 {
    position: absolute;
    margin-left: 700px;
    margin-top: -76px;
    color: #CCCCCC;
    font-size: 25.24px;
    width: 279px;
    height: 39px;
    display: flex;
    justify-content: center;
    
}
#title-of-step-2 {
    display: flex;
    margin-left: 390px;
    width: 385px;
    margin-top: -30px;
    height: 70px;
    color: #F2E9B8;
    font-size: 25.45px;
    text-align: center;
    
}
#description-for-dive-into-guitar-tutorials {
    display: flex;
    margin-right: 555px;
    margin-left: 60px;
    right: 430px;
    font-size: 21px;
    width: 506px;
    height: 250px;
    margin-top: -35px;
}
#searching-for-vidz {
    display: flex;
    margin-left: 600px;
    margin-top: -298px;
}
#guitar-tutorial {
    display: flex;
    margin-left: 820px;
    margin-top: -260px;
}
#description-for-dive-into-guitar-tutorials-pt2 {
    display: flex;
    margin-left: 680px;
}
#following-along-with-guitar-vid {
    display: flex;
    margin-left: 550px;
}
#description-for-following-along-with-guitar-vid {
    display: flex;
    margin-top: 5px;
    margin-left: 646px;

}
#step-3 {
    display: flex;
    margin-top: -5px;
    margin-left: 25px;
    font-size: 22.39px;
}
#arrow-image-4 {
    display: flex;
    margin-left: 510px;
    margin-top: -8px;
}
#beginning-of-step-3 {
    display: flex;
    font-size: 41.1px;
    justify-content: center;
    color: #F2E9B8;
    width: 173px;
    height: 59px;
    margin-left: 430px;
    margin-top: 10px;
}
#home-taskbar-3 {
    position: absolute;
    margin-left: 700px;
    margin-top: -80px;
    width: 279px;
    height: 39px;
    color: #CCCCCC;
    font-size: 25.24px;
    text-align: center;
}
#title-of-step-3 {
    display: flex;
    width: 470px;
    height: 59px;
    color: #F2E9B8;
    font-size: 25.45px;
    justify-content: center;
    margin-left: 280px;
    margin-top: -28px;
}
#description-for-step-3 {
    display: flex;
    margin-left: 15px;
    margin-top: -10px;
    width: 459px;
    height: 321px;
    font-size: 17px;
}
#picture-for-songster-search {
    display: flex;
    margin-left: 520px;
    margin-top: -340px;
    width:200px; 
    height:auto;
}
#me-playing-from-songster {
    display: flex;
    margin-left: 730px;
    margin-top: -250px;
    width: 280px;
    height: auto;
}
#description-for-step-3-text {
    display: flex;
    margin-left: 570px;
    margin-top: 50px;
}
#step-4 {
    display: flex;
    font-size: 21.84px;
    margin-left: 11px;
}
#arrow-image-5 {
    display: flex;
    margin-left: 500px;
    margin-top: -10px;
}
#beginning-of-step-4 {
    display: flex;
    justify-content: center;
    margin-top: 13px;
    margin-left: 425px;
    color: #F2E9B8;
    width: 173px;
    height: 59px;
    font-size: 41.1px;

}
#home-taskbar-4 {
    position: absolute;
    margin-left: 700px;
    margin-top: -68px;
    width: 279px;
    height: 39px;
    color: #CCCCCC;
    font-size: 25.24px;
    text-align: center;
}
#intro-to-step-4 {
    position: absolute;
    margin-left: 250px;
    margin-top: -29px;
    font-size: 26.92px;
    color: #F2E9B8;
}
#description-for-step-4 {
    display: flex;
    margin-left: 240px;
    margin-top: 40px;
    font-size: 16px;
    width: 578px;
    height: 160px;

}
#description-for-step-4-text {
    display: flex;
    justify-content: center;
}
#me-practing-guitar {
    margin-left: 40px;
}
#me-practing-guitar-pt2 {
    display: flex;
    margin-left: 640px;
    margin-top: -287px;
}
#step-5 {
    display: flex;
    justify-content: center;
    font-size: 17.04px;
}
#arrow-image-6 {
    display: flex;
    margin-left: 496px;
    margin-top: -10px;
}
#beginning-of-step-5 {
    display: flex;
    justify-content: center;
    margin-left: 426px;
    margin-top: 5px;
    color: #F2E9B8;
    width: 173px;
    height: 59px;
    font-size: 41.1px;
}
#home-taskbar-5 {
    position: absolute;
    margin-left: 700px;
    margin-top: -78px;
    width: 279px;
    height: 39px;
    color: #CCCCCC;
    font-size: 25.24px;
    text-align: center;
}
#description-for-step-5-text {
    display: flex;
    justify-content: center;
    font-size: 24px;
    color: #F2E9B8;
    width: 834px;
    height: 62px;
    margin-left: 94px;
    margin-top: -23px;
}
#text-for-step-5 {
    display: flex;
    justify-content: center;
    width: 414px;
    height: 469px;
    margin-left: 320px;
    font-size: 19px;
    margin-top: -10px;
    
}
#voice-memo-image {
    display: flex;
    margin-top: -500px;
    margin-left: 50px;
}
#me-recording-image {
    display: flex;
    margin-left: 762px;
    margin-top: -280px;
    width: 252px;
    height: auto;
}
#end-of-site {
    display: flex;
    justify-content: center;
    margin-top: 120px;
    margin-left: 80px;
    color: #F2E9B8;
    width: 900px;
    height: 100px;
    font-size: 40.87px;
    
}