body {
    margin: 0px;
    display: flex;
    justify-content: center;
    background-color: white;
}
/* this is a css body tag */
#main-container {
    background-color: #4D7FA6;
    width: 1024px;
    height: 5301px;
    border: solid 5px white;
    justify-content: center;
}
/* this is the main container tag */
#header {
    display: flex;
    border: solid 5px orange;

}

#nav {
    width: 715px;
    border: solid 2px coral;
}
ul {
    display: flex;
    justify-content: space-around;
    font-size: 41.28px;
    position: relative;
    margin-top: 0px;
    margin-right: 50px;
    padding: 5px;
    border: solid 5px black;
}

li {
    border: solid 5px black;
    list-style-type: none;
    width: 150px;
}

h1 {
    display: flex;
    justify-content: center;
    
}

h2 { 
    display: flex;
    justify-content: center;
    float: center;
    border: 50px;
}

#text-to-equipment-page {
    display: flex;
    justify-content: center;
    top: 400px;
   

}
#equipment-text {
    margin-right: -100px;
    margin-top: 340px;
    text-align: 70px;
}
#first-ever-arrow-image {
    display: flex;
    justify-content: center;
    margin-right: -40px;
    margin-top: 390px;
    margin-left: -20px;
}
#equipment-guide {
    top: auto;
}
#picture-of-me {
    display: flex;
    margin: 100px;
}
#intro-text {
    display: flex;
    border: solid 3px;
    margin-left: 1px;
    margin-right: 30px;
    
    height: 279px;
    width: 552px;
    font-size: 21px;
    border: solid 4px;
}


#second-container {
   display: flex;
}
#equipment {
    display: flex;
    justify-content: center;
    font-size: 41.1px;
    color: #F2E9B8;
    width: 100%;
    margin-top: -93px;
    margin-left: 23px;
    

}


#arrow-image {
    position: absolute;
    top: 596px;
    left: 650px;
    margin-top: 193px;
    margin-left: 310px;
}
#description-text-for-equipment {
    display: flex;
    position: relative;
    font-size: 19px;
    justify-content: center;
    margin-top: 5px;
    top: -1px;
    width: 542px;
    height: 38px;
    border: solid 4px;
    left: 200px;
}

#home-text {
    position: absolute;
    right: 400px;
    top: 857px;
    margin-right: 140px;
    margin-top: -90px;
    font-size: 25.24px;
    color: #9D0000;
    border:solid 4px black;
    width: 220px;
    height: 39px;
    display: flex;
    justify-content: center;
}


#guitar-picture {
    display: flex;
    margin-left: 100px;
}
#description-guitar {
    position: absolute;
    margin-left: 210px;
    font-size: 21.93px;
}
#more-description-guitar {
    display: flex;
    margin-left: 130px;
    margin-top: 40px;
    
}
#amp-image {
    position: relative;
    transform: translate(560px, -597px) ;
    
}
#description-amp {
    position: absolute;
    margin-left: 600px;
    margin-top: -590px;
    font-size: 13.07px;
}
#chords-image {
    position: relative;
    transform: translate(580px,-600px );
}
#description-chords {
    position: absolute;
    margin-left: 790px;
    margin-top: -600px;
    font-size: 13.07px;
}
#tuner-image {
    position: relative;
    transform: translate(130px,-299px );
}
#description-tuner {
    position: absolute;
    margin-left: 630px;
    margin-top: -290px;
    font-size: 15.63px;
}
#guitar-picks-image {
    position: relative;
    transform: translate(200px, -300px);
}
#description-guitar-picks {
    position: absolute;
    margin-left: 840px;
    margin-top: -290px;
    font-size: 16.56px;
}
#step-1 {
    position: absolute;
    margin-left: 500px;
    margin-top: -250px;
    font-size: 21.14px;
}
#arrow-image-2 {
    position: absolute;
    transform: translate(-260px, 30px);
}
#beginning-of-step-1 {
    display: flex;
    justify-content: center;
    margin-left: 440px;
    color: #F2E9B8;
    border: black solid 5px;
    width: 173px;
    height: 59px;
    margin-top: -180px;
}
#home-taskbar {
    position: absolute;
    margin-left: 700px;
    margin-top: -80px;
    width: 279px;
    height: 39px;
    color: #9D0000;
    font-size: 25.24px;
    text-align: center;
    border: black solid 5px;
}
#intro-to-step-1 {
    display: flex;
    justify-content: center;
    color: #F2E9B8;
    font-size: 28.92px;
    margin-left: 200px;
    margin-top: -10px;
    border: black solid 5px;
    width: 609px;
    height: 59px;
    
}
#step-1-description-text {
    display: flex;
    font-size: 22px;
    margin-right: 500px;
    margin-left: 10px;
    margin-top: -20px;
    border: black solid 5px;
}
#tuning-guitar-pt-1 {
    transform: translate(630px, -380px);
}
#tuning-guitar-pt-2 {
    transform: translate(150px, -180px);
}
#step-2 {
    position: absolute;
    margin-left: 488px;
    margin-top: -180px;
}
#arrow-image-3 {
    position: absolute;
    margin-left: -220px;
    margin-top: 70px;
}
#description-for-tuning-guitar {
    display: flex;
    justify-content: end;
}
#beginning-of-step-2 {
    display: flex;
    justify-content: center;
    color: #F2E9B8;
    margin-left: 440px;
    margin-top: 80px;
    font-size: 41.1px;
    border: black solid 5px;
    width: 173px;
    height: 59px;
}
#description-for-tuning-guitar {
    position: relative;
    margin-top: -170px;
    
    
    
}
#home-taskbar-2 {
    position: absolute;
    margin-left: 700px;
    margin-top: -80px;
    color: #9D0000;
    border: black solid 5px;
    font-size: 25.24px;
    width: 279px;
    height: 39px;
    display: flex;
    justify-content: center;
    
}
#title-of-step-2 {
    display: flex;
    border: black solid 5px;
    width: 385px;
    height: 70px;
    color: #F2E9B8;
    font-size: 25.45px;
    justify-content: center;
    margin-left: 320px
}
#description-for-dive-into-guitar-tutorials {
    display: flex;
    margin-right: 555px;
    margin-left: 60px;
    right: 430px;
    font-size: 21px;
    border: black solid 5px;
    width: 506px;
    height: 250px;
}
#searching-for-vidz {
    display: flex;
    margin-left: 600px;
    margin-top: -298px;
}
#guitar-tutorial {
    display: flex;
    margin-left: 820px;
    margin-top: -260px;
}
#description-for-dive-into-guitar-tutorials-pt2 {
    display: flex;
    margin-left: 680px;
}
#following-along-with-guitar-vid {
    display: flex;
    margin-left: 650px;
}
#description-for-following-along-with-guitar-vid {
    display: flex;
    margin-top: 5px;
    margin-left: 646px;

}
#step-3 {
    display: flex;
    margin-top: -5px;
}
#arrow-image-4 {
    display: flex;
    margin-left: 500px;
    margin-top: -20px;
}
#beginning-of-step-3 {
    display: flex;
    font-size: 41.1px;
    justify-content: center;
    color: #F2E9B8;
    border: solid black 5px;
    width: 173px;
    height: 59px;
    margin-left: 420px;
    margin-top: 10px;
}
#home-taskbar-3 {
    position: absolute;
    margin-left: 700px;
    margin-top: -80px;
    width: 279px;
    height: 39px;
    color: #9D0000;
    font-size: 25.24px;
    text-align: center;
    border: black solid 5px;
}
#title-of-step-3 {
    display: flex;
    border: black solid 5px;
    width: 470px;
    height: 59px;
    color: #F2E9B8;
    font-size: 25.45px;
    justify-content: center;
    margin-left: 280px;
}
#description-for-step-3 {
    display: flex;
    margin-left: 15px;
    margin-top: -10px;
    border: black solid 5px;
    width: 459px;
    height: 321px;
    font-size: 17px;
}
#picture-for-songster-search {
    display: flex;
    margin-left: 520px;
    margin-top: -340px;
    width:200px; 
    height:auto;
}
#me-playing-from-songster {
    display: flex;
    margin-left: 730px;
    margin-top: -250px;
    width: 280px;
    height: auto;
}
#description-for-step-3-text {
    display: flex;
    margin-left: 570px;
    margin-top: 50px;
}
#step-4 {
    display: flex;
    font-size: 21.84px;
}
#arrow-image-5 {
    display: flex;
    margin-left: 496px;
    margin-top: -10px;
}
#beginning-of-step-4 {
    display: flex;
    justify-content: center;
    margin-top: 13px;
    margin-left: 420px;
    color: #F2E9B8;
    border: black solid 5px;
    width: 173px;
    height: 59px;

}
#home-taskbar-4 {
    position: absolute;
    margin-left: 700px;
    margin-top: -68px;
    width: 279px;
    height: 39px;
    color: #9D0000;
    font-size: 25.24px;
    text-align: center;
    border: black solid 5px;
}
#intro-to-step-4 {
    position: absolute;
    margin-left: 290px;
    margin-top: -10px;
    font-size: 26.92px;
    border: black solid 5px;
    color: #F2E9B8;
}
#description-for-step-4 {
    display: flex;
    margin-left: 220px;
    margin-top: 100px;
    font-size: 16px;
    width: 578px;
    height: 160px;
    border: black solid 5px;

}
#description-for-step-4-text {
    display: flex;
    justify-content: center;
}
#me-practing-guitar {
    margin-left: 40px;
}
#me-practing-guitar-pt2 {
    display: flex;
    margin-left: 640px;
    margin-top: -287px;
}
#step-5 {
    display: flex;
    justify-content: center;
    font-size: 17.04px;
}
#arrow-image-6 {
    display: flex;
    margin-left: 496px;
    margin-top: -10px;
}
#beginning-of-step-5 {
    display: flex;
    margin-left: 420px;
    margin-top: 5px;
    color: #F2E9B8;
    border: black solid 5px;
    width: 173px;
    height: 59px;
}
#home-taskbar-5 {
    position: absolute;
    margin-left: 700px;
    margin-top: -68px;
    width: 279px;
    height: 39px;
    color: #9D0000;
    font-size: 25.24px;
    text-align: center;
    border: black solid 5px;
}
#description-for-step-5-text {
    display: flex;
    justify-content: center;
    font-size: 24px;
    border: black solid 5px;
    color: #F2E9B8;
    width: 834px;
    height: 62px;
    margin-left: 90px;
}
#text-for-step-5 {
    display: flex;
    justify-content: center;
    border: black solid 5px;
    width: 414px;
    height: 469px;
    margin-left: 320px;
    font-size: 19px;
    
}
#voice-memo-image {
    display: flex;
    margin-top: -500px;
    margin-left: 50px;
}
#me-recording-image {
    display: flex;
    margin-left: 762px;
    margin-top: -280px;
    width: 252px;
    height: auto;
}
#end-of-site {
    display: flex;
    justify-content: center;
    margin-top: 120px;
    margin-left: 270px;
    color: #F2E9B8;
    width: 513px;
    height: 59px;
    border: black solid 5px;
}